.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    background-color: #f8f8ff;
    box-shadow: 1px 2px 3px #13131340;
    
    position: sticky;
    top: 0;
    transition: all 0.5s;
    z-index: 100;
}

.navbar.sticky {
    padding: 5px;
    background-color: #FAFAFA;
    box-shadow: 0 1px 5px 0 #000000;
}

.active-link{
    color: red;
}

.navbar img {
    width: 50px;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-link{
    margin:0 20px;
    font-family: 'Roboto Condensed', sans-serif; 
    font-weight: 500;
    font-size: 22px;
}

.nav-link a {
    color: #1414f8;
    letter-spacing: 1px;
    cursor: pointer;  
    text-decoration: none;
}

.nav-link a:hover{
    font-weight: 600;
}

.active-link{
    font-weight: 600;
    border-bottom: 3px solid red;
}

@media only screen and (max-width:560px){
    .right-logo{
        display: none;
    }
    .nav-link{
        margin:0 10px;
        font-weight: 500;
        font-size: 16px;
    }

    .navbar img {
        width: 40px;
    }
    
}

